.custom-button1{
background-color: dodgerblue;
color: white;
padding: 15px 40px;
text-decoration: none;
margin-right: 40px;
}

.custom-button2{
background-color: palevioletred;
color: white;
padding: 15px 40px;
text-decoration: none;
}
